body {
	margin: 0;

	background: #F5F5EE;
}

.cabecalho {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cabecalho h1 {
	font-size: 40px;
}

.cabecalho .lista {
	display: flex;
	list-style: none;
	padding: 10px;
}

.cabecalho .lista li {
	font-size: 20px;
	margin-left: 30px;
	text-transform: uppercase;
	padding: 10px;
}

.cabecalho .lista li:hover, .ativo {
	border-bottom: 2px solid blue;
}

.cabecalho .lista li a {
	text-decoration: none;
	color: black;
}

.conteudo-principal h2 {
	text-align: center;
	font-size: 35px;
	margin-top: 50px;
}

.lista-conteudoPrincipal {
	display: flex;
	list-style: none;/*tira a bolinha do lado da lista*/
	justify-content: space-around;
}

.lista-conteudoPrincipal a {
	text-decoration: none;
	color: black;
}

.lista-conteudoPrincipal li {
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
	background: #F8F8FF;
}

.lista-conteudoPrincipal li img {
	height: 170px;
}

.lista-conteudoPrincipal li p {
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	padding: 30px 0;
}

.lista-conteudoPrincipal li:hover {
	border: 2px solid gold;
}

.botao {
	display: flex;
	justify-content: center;
}

.botao-link:hover {
	transform: scale(1.1);
	transition: .5s all;
}

.lista-conteudoPrincipal .botao-link {
	color: white;
	font-size: 1.5rem;
	border: 2px solid black;
	background: #ee2626;
	padding: 3px 15px;
}

.rodaPé {
	padding: 30px;
	text-align: center;
	background: #DDDDDD;
	margin-top: 100px;
}


/*css receita bolo de chocolate*/


.conteudoPrincipal-boloChocolate h1 {
	text-align: center;
}

.imagemBolo-centralizado {
	text-align: center;
	margin-bottom: 50px;
}

.imagemBoloChocolate {
	width: 306px;
	height: 247px;
}

.imagemBolo-centralizado + h2 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

.Ingredientes__bolo-chocolate {
	display: flex;
	justify-content: space-around;
	border: 1px solid black;
	width: 90%;
	margin: 0 auto;
}

.lista-boloChocolate li {
	line-height: 1.5;
	font-size: 20px;
}

.Ingredientes__bolo-chocolate + h2 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 4rem;
}

.modoPreparo {
	border: 1px solid black;
	width: 90%;
	margin: 0 auto;
}

.lista-modoPreparo li {
	line-height: 1.7;
	font-size: 20px;
}

.voltarInicio {
	margin: 70px;
	text-align: center;
}

.voltarInicio a {
	text-decoration: none;
	color: blue;
	border: 1px solid darkblue;
	font-size: 25px;
	padding: 10px;
}


/*css receita brigadeiro*/


.conteudoPrincipal-brigadeiro h1 {
	text-align: center;
}

.imagem-brigadeiro {
	text-align: center;
	margin: 30px 0 30px 0;
}

.listaBrigadeiro-centralizacao {
	display: flex;
	justify-content: center;
}

.listaBrigadeiro-centralizacao + h2 {
	margin-top: 4rem;
}

.listaBrigadeiro-ingredientes {
	border: 1px solid black;
	padding: 30px 240px;
}

.listaBrigadeiro-ingredientes li {
	line-height: 1.7;
	font-size: 20px;
}

.imagem-brigadeiro ~ h2 {
	text-align: center;
	font-size: 30px;
}

.listaBrigadeiro-modoPreparo {
	line-height: 1.7;
	font-size: 20px;
	border: 1px solid black;
	padding: 30px;
	width: 940px;
	margin: 0 auto;
}


/* css receita lasanha */


.conteudo__lasanha-titulo {
	text-align: center;
}

.conteudo__lasanha-imagem {
	text-align: center;
	margin: 35px 0;
}

.titulo__lasanha-ingredientes {
	text-align: center;
	font-size: 30px;
	margin-top: 5rem;
}

.ingredintes__lasanha {
	display: flex;
	justify-content: space-around;
	border: 1px solid black;
	width: 70%;
	margin: 0 auto;
}

.lista__lasanha--ingredientes, .lista__modo-preparo {
	line-height: 1.5;
	font-size: 20px;
}

.titulo-principal__modo-preparo {
	text-align: center;
	margin: 4rem 0 1.3rem 0;
	font-size: 30px;
}

.titulo__modo-preparo {
	margin: 3rem 0 .5rem 0;
	font-size: 25px;
}

.modo-preparo {
	padding-left: 3rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 80%;
	margin: 0 auto;
}

/* formulário nos de ideias */

.botao-cor-especial {
	background-color: #EE2626;
	color: white;
}